build/*
aquarius.gpr
src/environment/aquarius-config_paths.ads
aqua-core.txt
arrangement.log
*.o32
*.m32
config/scratch/*.aqua
.aquarius-session
tests/cool/theory.stanford.edu/*
tests/cool/index.html
