file_extensions
{
   action = action;
   ada = ada;
   ads = ada;
   adb = ada;
   aqua = aqua;
   dml = explang;
   DML = explang;
   ebnf = ebnf;
   format = binary;
   hs = haskell;
   idl = idl;
   g = ebnf;
   gpr = project;
   js = ecmascript;
   kit=kit;
   klein = klein;
   kl = klein;
   kls = klein;
   klb = klein;
   m11 = macro11;
   m32 = macro32;
   parse = script;
   cplugin = plugin;
   plugin = script;
   script = script;
   tropos = tropos;
}

themes
{
  default
  {
    fixed_font
    {
      font_family = "Consolas";
      font_size = 12;
      foreground = black;
    }
    
    classes
    {
    default
    {
    }
    reserved_identifier
    {
      --  bold = true;
      foreground = blue;
    }
	implied_token
	{
	  foreground = lightgrey;
	}
    link
    {
       foreground = blue;
       underline = true;
       mouse_cursor = hand;
    }
    comment
    {
      foreground = grey;
    }
    string
    {
      foreground = rosybrown;
    }
    package_name
    {
      foreground 
      {
        r = 166;
        g = 0;
        b = 217;
      }
    }
    function_name
    {
      foreground 
      {
        r = 166;
        g = 0;
        b = 217;
      }
    }
    variable_name
    {
      foreground = darkgoldenrod;
    }
    type_name
    {
      foreground = forestgreen;
    }
    warning
    {
      underline = true;
    }
    error
    {
      --  foreground = red;
      --  bold = true;
      underline = true;
    }
    selected_error
    {
      foreground = white;
      background = red;
    }
    }
  }
}

keys
{
   key { name = tab;
         action = move_forward_by_terminal;
       }
   key { name = tab;
         shift = true;
         action = move_backward_by_terminal;
       }
}

last_project
{
   name = Audley;
   path = "C:\Users\fwilson.ANAGONL\Documents\kiln\atk/atk.gpr";
}
