file_extensions
{
   ada = ada;
   ads = ada;
   adb = ada;
   ebnf = ebnf;
   hs = haskell;
   idl = idl;
   g = ebnf;
   gpr = project;
   kit=kit;
   klein = klein;
   kl = klein;
   kls = klein;
   klb = klein;
   parse = script;
   plugin = plugin;
   script = script;
}

styles
{
  default
  {
    default_font
    {
       family = "Liberation mono";
       size = 8;
    }
    reserved_identifier
    {
      bold = true;
      --  foreground = purple;
    }
    comment
    {
      foreground = firebrick;
    }
    string
    {
      foreground = rosybrown;
    }
    package_name
    {
      foreground = lightskyblue;
    }
    function_name
    {
      foreground = blue1;
    }
    variable_name
    {
      foreground = darkgoldenrod;
    }
    type_name
    {
      foreground = forestgreen;
    }
    warning
    {
      underline = true;
    }
    error
    {
      foreground = red;
      --  bold = true;
    }
    selected_error
    {
      foreground = white;
      background = red;
    }
  }
}

colours
{
  black
  {
    r = 0;
    g = 0;
    b = 0;
  }
  white
  {
    r = 255;
    g = 255;
    b = 255;
  }
  red
  {
    r = 255;
    g = 0;
    b = 0;
  }
  blue
  {
    r = 0;
    g = 0;
    b = 255;
  }
  green
  {
    r = 0;
    g = 255;
    b = 255;
  }
  yellow
  {
    r = 255;
    g = 255;
    b = 0;
  }
  firebrick
  {
    r = 178;
    g = 34;
    b = 34;
  }
  purple
  {
    r = 160;
    g = 32;
    b = 240;
  }
  rosybrown
  {
    r = 188;
    g = 143;
    b = 143;
  }
  blue1
  {
    r = 0;
    g = 0;
    b = 255;
  }
  darkgoldenrod
  {
    r = 184;
    g = 134;
    b = 11;
  }
  forestgreen
  {
    r = 34;
    g = 139;
    b = 34;
  }
  lightskyblue
  {
    r = 135;
    g = 206;
    b = 250;
  }

}

keys
{
   key { name = tab;
         action = move_forward_by_terminal;
       }
   key { name = tab;
         shift = true;
         action = move_backward_by_terminal;
       }
}
